* {
    box-sizing: content-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    color: #111;
}
.logo {
    background-image: url(./icons/YG.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

@media only screen and (min-width: 768px) {
    
}
@media only screen and (min-width: 900px) {
    
}