* {
    box-sizing: content-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    color: #111;
}
#btn {
    margin: 20px;
}
#navbar {
    background-color: #111;
    text-align: center;
    height: 0;
    visibility: hidden;
}
#navbar-ul {
    margin: 0;
    text-align: center;
}
#navbar-ul li {
    list-style-type: none;
}
.header-section {
    background-image: url(./images/bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}
.head-inner-section-1 {
    margin: 0;
    color: #eee;
}
.logo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.logo-img {
    width: 30%;
    margin: 10px;
}
.section-item-1 {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
#contact, #linkedin, #github, #about {
    text-decoration: none;
    color: #111;
    font-size: 1.5em;
}
.section-item-1-text {
    font-size: 2em;
    margin: 0;
}
.profile-photo {
    width: 45%;
}
header h4, h3 {
    margin: 10px;
    font-size: 1.3em;
    letter-spacing: 0.05em;
}
.call-text-buttons {
    display: block;
    margin: 10px 5px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.tel-container, .sms-container {
    margin-bottom: 5px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    font-weight: bold;
    background: #E53A4C;
    background: -webkit-linear-gradient(right, #E53A4C, #F67205);
    background: -moz-linear-gradient(right, #E53A4C, #F67205);
    background: linear-gradient(to left, #E53A4C, #F67205);
}
.tel, .sms {
    text-decoration: none;
    color: #eee;
}
.tel-container:hover, .sms-container:hover {
    background-color: #eee;
    color: #111;
}
.tel:hover, .sms:hover {
    color: #eee;
}
/*main elements*/
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    background-color: #fffff1;
}
.intro {
    margin: 25px 20px;
    text-align: center;
    border: 1px solid #eee;
    
}
.intro-title, .project-title {
    color: #eee;
    background-color: #5695d5;
    font-size: 2.5rem;
    padding: 10px;
}
.intro-p {
    margin: 30px 0;
    text-align: left;
    padding: 10px 20px;
    line-height: 30px;
}
.projects-container {
    background-color: #e6e6e6;
    padding: 100px 10px;
}
.project-title {
    text-align: center;
    width: 85%;
    margin: 60px auto;
}
.main-inner-flex-container p {
    font-size: 1.4rem;
    font-weight: bold;
}
.project-titan, .project-FVS, .project-nasa, .project-database {
    text-align: center;
    padding: 30px 0;
}
.project-img {
    width: 60%;
    margin: auto;
    border-bottom: 1px solid #111;
    border-right: 1px solid #111;
    box-shadow: 1px 1px 5px 2px #111;
    border-radius: 10px;
    transition: background-color 1s ease-in-out;
    background: #E53A4C;
    background: -webkit-linear-gradient(right, #E53A4C, #F67205);
    background: -moz-linear-gradient(right, #E53A4C, #F67205);
    background: linear-gradient(to left, #E53A4C, #F67205);
}
/*Footer-section*/
.footer-section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 40px;
}
.section-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.linkedin-icon, .github-icon, .resume-icon {
    width: 100%;
}
.linkedin-section, .github-section, .resume-section {
    text-align: center;
}
.email-footer {
    color: #eee;
}
.email-footer:hover {
    color: #ff8553;
}
.email-footer::after {
    content: ' ';
    background-image: url(./icons/email-icon.svg);
    background-position: center;
    background-size: cover;
    padding: 20px;
}
.section-footer-2 {
    text-align: center;
    color: #ff8553;
}
.section-footer-2 ul {
    margin: 0;
    padding: 0;
}
.section-footer-2 ul li {
    padding: 5px;
    list-style-type: none;
}
#date {
    color: #ff8553;
}
@media only screen and (min-width: 768px) {
    .logo-img {
        width: 20%;
    }
    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
    }
    .call-text-buttons {
        display: none;
    }
    .linkedin-icon, .github-icon, .resume-icon {
        width: 55%;
    }
}
@media only screen and (min-width: 900px) {
    .logo-img {
        width: 8%;
    }
    .main-container {
        padding: 200px 10px;
    }
    .head-inner-section-1 {
        width: 30%;
        margin: auto;
    }
    .main-inner-flex-container {
        display: flex;
        flex-direction: row;
    }
    .intro {
        width: 40%;
        margin: 50px;
    }
    .project-title {
        width: 40%;
        margin-bottom: 120px;
    }
    .footer-section {
        padding-top: 120px;
        flex-direction: column;
    }
    .linkedin-icon, .github-icon, .resume-icon {
        width: 35%;
    }
}