:root {
    --primary-color: #F17720;
    --secondary-color: #00A7E1;
    --light-color: #EBEBEB;
    --dark-color: #292929;
    --white-color: #eee;
    --black-color: #111;
    --emerald-green: 	#50C878;
    --red-cherry: #D2042D;
    --yellow-amber: #FFBF00;
}
* {
    box-sizing: content-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
.logo {
    background-image: url(./icons/YG.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}
.gradient-bg {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main-bg {
    background-image: url(./images/main-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.padding-top {
    padding-top: 120px;
}
.white-color {
    color: #eee;
}
.orange-color {
    color: #F17720;
}
.my-btn {
    background-image: linear-gradient(to right, #2c3e50 0%, #3498db  51%, #2c3e50  100%);
    color: #eee;
    margin: 5px;
}
.my-btn:hover a {
    color: #111;
}
.blue-color-bg {
    background-color: #0474BA;
}
.green-color-bg {
    background-color: var(--emerald-green);
}
.red-cherry-color-bg {
    background-color: var(--red-cherry);
}
.gray-color-bg {
    background-color: #EBEBEB;
}
.orange-color-bg {
    background-color: #F17720;
}
.yellow-color-bg {
    background-color: var(--yellow-amber);
}
.hover-orange:hover {
    background-color: var(--primary-color);
}
@media only screen and (min-width: 768px) {
    
}
@media only screen and (min-width: 900px) {
    
}