:root {
    --primary-color: #11aaa6;
    --secondary-color: #fe5a00;
    --light-color: #EBEBEB;
    --dark-color: #292929;
    --white-color: #eee;
    --black-color: #111;
    --emerald-green: #50C878;
    --red-cherry: #D2042D;
    --yellow-amber: #FFBF00;
    --tomato: #FF6347;
}
* {
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
 /*Call-Text-Section*/
 .call-text-email-buttons {
    margin: 10px 5px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}
/*Call-Text-Section*/
.tel-container, .sms-container, .email-container {
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}
/*Call-Text-Section*/
.tel, .sms, .email {
    text-decoration: none;
    color: var(--secondary-color);
}
/*Desktop Contact Buttons*/
.links-container {
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    background: none;
}
.github, .linkedin {
    color: var(--light-color);
}
.github:hover, .linkedin:hover {
    color: #111;
}
.white-color {
    color: var(--white-color);
}
.gr-color {
    background: rgb(0,191,255);
    background: linear-gradient(90deg, rgba(0,191,255,1) 0%, rgba(41,41,41,1) 100%);
}
.devName {
    height: 70px;
}
.title-animation {
    transition-property:color;
    transition: all 0.5s ease-in-out;
}
.title-animation:hover {
    color: var(--secondary-color);
}
.bg {
    background-color: var(--primary-color);
}
/*Project Animation*/
#hover-animation {
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#hover-animation:hover {
    background-color: var(--light-color);
}
/*Coding Challenges Animation*/
#hover-animation-2 {
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#hover-animation-2:hover {
    background-color: var(--dark-color);
}
/*Skills & Experience Animation*/
#soft, #tech, #tools {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#soft:hover, #tech:hover, #tools:hover{
    background-color: var(--primary-color);
}
.main-color {
    color: var(--primary-color);
}
.secondary-color {
    color: var(--secondary-color);
}
.gr-bg {
    background: rgb(31,210,150);
    background: linear-gradient(56deg, rgba(31,210,150,1) 10%, rgba(17,169,165,1) 55%, rgba(254,90,0,1) 89%, rgba(254,90,0,1) 100%);
}
.border-left {
    border-left: 1px solid var(--secondary-color);
}
@media only screen and (min-width: 900px) {
    .call-text-email-buttons {
        display: none;
    }
}