:root {
    --primary-color: #6f2fa3;
    --secondary-color: #1aa0e3;
    --blue-bg-color: #011364;
    --light-color: #5e5f64;
    --dark-color: #2f3035;
    --white-color: #eee;
    --black-color: #111;
    --emerald-green: #50C878;
    --dark-charc: #36454F;
    --red-cherry: #D2042D;
    --yellow-amber: #FFBF00;
    --tomato: #FF6347;
}
* {
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
.landing-bg {
    background-image: url(./img/landing-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue-bg-color {
    background-color: var(--blue-bg-color);
}
/*BLACKDROP-FILTER*/
.box-blur {
    background-color: rgba(47, 48, 53, 0.3);
    border-radius: 5px;
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px) saturate(150%);
    width: 50%;
    height: 20%;
    margin-top: 10px;
}
.box-blur-2 {
    background-color: rgba(47, 48, 53, 0.3);
    border-radius: 5px;
   -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(16px) saturate(150%);
    margin-top: 10px;
    width: 100%;
}
 /*Call-Text-Section*/
 .call-text-email-buttons {
    margin: 10px 5px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}
/*Call-Text-Section*/
.github-container, .linkedin-container, .email-container, .tel-container, .sms-container {
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    background-color: var(--primary-color);
}
/*Call-Text-Section*/
.tel, .sms, .email, .github, .linkedin {
    text-decoration: none;
    color: var(--white-color);
}
.tel:hover, .sms:hover, .email:hover, .github:hover, .linkedin:hover {
    color: var(--black-color);
}
/*Desktop Contact Buttons*/
/* .links-container {
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    background: none;
}
.github, .linkedin {
    color: var(--white-color);
}
.github:hover, .linkedin:hover {
    color: var(--light-color);
} */
.white-color {
    color: var(--white-color);
}
.gr-color {
    background-color: var(--dark-color);
}
.devName {
    height: 70px;
    margin-top: 15px;
}
.bShadow {
    box-shadow: 1px 1px 1px 1px var(--primary-color);
}
.my-btn {
    background-color: none;
    background: none;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: 1px 1px 1px 1px var(--primary-color);
}
.my-btn:hover {
    background-color: var(--primary-color);
}
.title-animation {
    transition-property:color;
    transition: all 0.5s ease-in-out;
}
.title-animation:hover {
    color: var(--secondary-color);
}
.bg {
    background-color: var(--primary-color);
}
.bg-sec {
    background-color: var(--secondary-color);
}
.round-img {
    border-radius: 200px;
}
/*Project Animation*/
.projects-bg {
    background-image: url(./img/projects-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hover-proj-1, #hover-proj-2, #hover-proj-3 {
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#hover-proj-1:hover, #hover-proj-2:hover, #hover-proj-3:hover {
    background-color: var(--secondary-color);
}
/*Coding Challenges Animation*/
#cod-1, #cod-2, #cod-3, #cod-4, #cod-5, #cod-6, #cod-7, #cod-8, #cod-9, #cod-10 {
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#cod-1:hover, #cod-2:hover, #cod-3:hover, #cod-4:hover, #cod-5:hover, #cod-6:hover, #cod-7:hover, #cod-8:hover, #cod-9:hover, #cod-10:hover {
    background-color: var(--secondary-color);
}
/*Skills Animation*/
#tech {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
#tech:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2em;
}
.mk-border {
    border: 5px solid var(--primary-color);
    border-radius: 5px;
}
.main-color {
    color: var(--primary-color);
}
.secondary-color {
    color: var(--secondary-color);
}
.border-left {
    border-left: 1px solid var(--secondary-color);
}
@media only screen and (min-width: 900px) {
    .tel, .sms {
        display: none;
    }
    .tel-container, .sms-container {
        display: none;
    }
    .box-blur-2 {
        width: 75%;
        margin: auto;
    }
}